# Ignore Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Ignore CMake build files
/build/
CMakeFiles/
CMakeCache.txt

# Ignore executables and object files
*.exe
*.o
*.obj
*.pdb
